    <%- include('./partials/head.ejs')%>
<body>
        <%- include('./partials/nav.ejs')%>
    <!-- <h1>Home</h1>
    <h2>Header2</h2> -->
    <h3 style="color:fuchsia">404 </h3>
    <%- include('./partials/foot.ejs')%>
</body>
</html>