<html lang="pt-br">
    <%- include('./partials/head.ejs')%>
<body>

    <%- include('./partials/nav.ejs')%>

    <div class="Sobre nós">
        <h2>Sobre nós</h2>
        <p>Só uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma frase</p>
        <p>Só uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma frase</p>
        <p>Só uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma fraseSó uma frase</p>
    </div>

        <%- include('./partials/foot.ejs')%>
</body>