    <nav>
        <div class="site-title">
            <a href="/"><h1>Sanituario</h1></a>
            <p>O Santuario do Sani</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/blogs/create">Criar Blog</a></li>
        </ul>
    </nav>